.form {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.form__item {
    display: grid;
    flex-direction: column;
}

.form__text {
    border-radius: 5px;
    border: 1px solid $color-yellow;
    padding: 0.5em;
}

.form__text:focus {
    outline: none;
}

.form__label {
    font-weight: bold;
    font-size: 0.9em;
    padding-top: 1em;
}

