.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .navigation__link {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-tertiary);
    margin-inline: 16px;
  }
  
  .navigation__link:hover {
    color: var(--color-primary);
  }
  
  .navigation__link--right {
    margin-left: auto;
  }
  
  .navigation__link--left {
    margin-right: auto;
  }